<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jubgging">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jubgging"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".view.EtcOssActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.PloggingActivity"
            android:exported="true" />
        <activity
            android:name=".view.PloggingDetailActivity"
            android:exported="true" />
        <activity
            android:name=".view.PloggingHistoryActivity"
            android:exported="true" />

        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MainActivity"
            android:exported="true" />

        <activity
            android:name=".view.OssNoticeActivity"
            android:exported="true" />
        <activity
            android:name=".view.SignUpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.UserProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:exported="true" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:exported="true" /> <!-- 외부 저장소 사용을 위한 FileProvider auth 추가. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jubgging.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakaoSdkAppkey}" />

        <activity
            android:name=".view.CleanHouseMapActivity"
            android:exported="true" />

        <activity
            android:name=".view.CommunityListActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.CommunityCreateActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.CommunityDetailActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.CommunityJoinActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>